<ion-view title="Categoria" id="product-category">
  <ion-content class="has-header">

    <ion-refresher pulling-text="Carregando..." on-refresh="doRefresh()"></ion-refresher>

    <div class="card category-item-margin" ng-repeat="category	in	categories">
      <ion-list>
        <ion-item class="item-thumbnail-left"
                  ui-sref="productCategory({urlId: '{{category.id_category}}'})">
          <img ng-src="{{category.icon}}" style="object-fit:	cover">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
