<ion-view title="Buscar pratos e restaurantes" id="page13" style="">
  <ion-content padding="true" class="has-header">
    <form id="buscarPratosERestaurantes-form5" class="list">
      <label class="item item-input" id="buscarPratosERestaurantes-search2" name="buscar-pratos-restaurantes" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Buscar pratos e restaurantes" type="search">
      </label>
    </form>
    <ion-list id="buscarPratosERestaurantes-list8">
      <ion-item class="item-thumbnail-left" id="buscarPratosERestaurantes-list-item66" style="">
        <h2>Pastel de aliche</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="buscarPratosERestaurantes-list-item67" style="">
        <h2>Panqueca Doce de Leite</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="buscarPratosERestaurantes-list-item68" style="">
        <h2>Yakisoba Vegetariano</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>