<ion-view title="Categorias" id="page13" style="">
  <ion-content padding="true" class="has-header">
    <a ui-sref="buscarPratosERestaurantes" id="categorias-button8" class="button button-assertive  button-block button-outline">Buscar pratos e restaurantes</a>
    <ion-list id="categorias-list7">
      <ion-item class="item-avatar" id="categorias-list-item60" ui-sref="categoria({urlId: 'http://etprogramador.ga/lanche.json'})" >
        <img src="img/1CEJo4pQuSfUR25wqWen_lanches.fw.png">
        <h2>Lanches</h2>
      </ion-item>
      <ion-item class="item-avatar" id="categorias-list-item61">
        <img src="img/wUzI2jYuSGLCILJRRGdV_pizza.fw.png">
        <h2>Pizzas</h2>
      </ion-item>
      <ion-item class="item-avatar" id="categorias-list-item59" ui-sref="categoria({urlId: 'http://etprogramador.ga/japonesa.json'})">
        <img src="img/tfp68kVFRuqnhxUcEbeG_japonesa.fw.png">
        <h2>Japonesa</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="categorias-list-item62" >
        <i class="icon ion-ios-location"></i>Próximos</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
