<ion-view title="Configurações" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="configuraEs-list3">
      <ion-item class="assertive" id="configuraEs-list-item25" style="">Antônio</ion-item>
      <ion-item id="configuraEs-list-item26" style="">Editar dados</ion-item>
      <ion-item id="configuraEs-list-item27" style="">Meus endereços</ion-item>
      <ion-item id="configuraEs-list-item28" style="">Minhas avaliações</ion-item>
      <ion-item id="configuraEs-list-item29" ui-sref="login" style="">Sair</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="configuraEs-list4">
      <ion-item class="assertive" id="configuraEs-list-item33" style="">Geral</ion-item>
      <ion-item id="configuraEs-list-item34" style="">Sugerir restaurantes</ion-item>
      <ion-item id="configuraEs-list-item35" style="">Notificações</ion-item>
      <ion-item id="configuraEs-list-item50" style="">Limpar históricos de busca</ion-item>
      <ion-item id="configuraEs-list-item49" style="">Fale conosco</ion-item>
      <ion-item id="configuraEs-list-item51" style="">Termos de uso</ion-item>
      <ion-item id="configuraEs-list-item42" style="">Convidar</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>