<ion-view title="Pagamento" id="detail-is-payment">
  <ion-content padding="true" class="has-header">
    <div class="list card">

      <div class="item item-body">
        <ion-list>
          <ion-item class="item-icon-left">
            <i class="icon ion-card"></i>Pague na entrega
          </ion-item>
          <ion-radio id="pagamento-radio7">Cartão de débito/crédito</ion-radio>
          <ion-radio id="pagamento-radio8">Dinheiro</ion-radio>
          <ion-radio id="pagamento-radio9">Vale refeição</ion-radio>
        </ion-list>
      </div>

    </div>

    <div class="list card">
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-icon-left">
            <i class="icon ion-android-cart"></i>Pedido
          </ion-item>
        </ion-list>
        <h2 style="color: rgb(0, 0, 0);">Total</h2>
        <h2 style="color: rgb(41, 233, 36);">R$ 37,00</h2>
      </div>
    </div>
    <a id="finalize-payment" class="button button-assertive  button-block icon-right ion-android-checkmark-circle"
       ng-click="finalizePayment()">FAZER PEDIDO</a>
  </ion-content>
</ion-view>
