<ion-view title="Detalhe do produto" id="page13" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="detalheDoProduto-card21">
      <ion-item id="detalheDoProduto-list-item97" style="">Name</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="detalheDoProduto-list-item-container9" style="">
        <h2 id="detalheDoProduto-heading7" style="color: rgb(0, 0, 0); font-weight: 600;">Preço</h2>
        <div id="detalheDoProduto-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">R$ 10,80</p>
        </div>
        <h2 id="detalheDoProduto-heading8" style="color: rgb(0, 0, 0); font-weight: 600;">Descrição</h2>
        <div id="detalheDoProduto-markdown26" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
        <h2 id="detalheDoProduto-heading9" style="color: rgb(0, 0, 0); font-weight: 600;">Valor entrega</h2>
        <div id="detalheDoProduto-markdown27" class="show-list-numbers-and-dots">
          <p style="color:#000000;">R$ 3,00</p>
        </div>
        <form id="detalheDoProduto-form8" class="list">
          <label class="item item-input" id="detalheDoProduto-input10" name="quantidade">
            <span class="input-label">Quantidade</span>
            <input placeholder="" type="number">
          </label>
          <a ui-sref="meuCarrinho" id="detalheDoProduto-button11" class="button button-assertive  button-block">Comprar</a>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>