<ion-view title="Eu" hide-back-button="true" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="eu-card24">
      <div class="item item-body" id="eu-list-item-container7" style="">
        <ion-list id="eu-list2">
          <ion-item class="item-avatar item-icon-right assertive" id="eu-list-item15" ui-sref="configuraEs" style="">
            <h2assertive>Antônio Silva
              <p>jose.silva.br</p>
              <i class="icon ion-android-settings"></i>
            </h2assertive>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="list card" id="eu-card26">
      <div class="item item-body" id="eu-list-item-container10" style="">
        <div>
          <img src="img/BJwX5rUYSLCkNXue8el3_lista.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="eu-heading1" style="color: rgb(0, 0, 0); text-align: center;">Ainda não tem nada aqui.</h2>
        <div id="eu-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Faça seus primeiros pedidos e salve os seus restaurantes prediletos, para começar a exibir recomendações</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
