<ion-view title="Login" hide-nav-bar="true" id="page5" style="background-color: rgb(244, 67, 54);">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" id="login-card22">
      <div class="item item-body" id="login-list-item-container3" style="">
        <form id="login-form2" class="list">
          <button id="login-button3" class="button button-positive  button-block icon-left ion-social-facebook-outline">Facebook</button>
          <div class="spacer" style="height: 20px;"></div>
          <label class="item item-input item-floating-label" id="login-input4" name="email">
            <span class="input-label">E-Mail</span>
            <input placeholder="E-Mail" type="email">
          </label>
          <label class="item item-input item-floating-label" id="login-input5" name="senha">
            <span class="input-label">Senha</span>
            <input placeholder="Senha" type="password">
          </label>
          <div class="spacer" style="height: 20px;"></div>
          <a ui-sref="tabsController.home" id="login-button4" class="button button-positive  button-block button-outline icon-left ion-log-in">Sign in</a>
          <a ui-sref="registrarSe" id="login-button5" class="button button-positive  button-clear">Registrar-se</a>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>