<ion-view title="Meu Carrinho" cache-view="false" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="meuCarrinho-card28">
      <div class="item item-body" id="meuCarrinho-list-item-container14" style="">
        <ion-list id="meuCarrinho-list9">
          <ion-item class="item-thumbnail-left" id="meuCarrinho-list-item73" style="">
            <h2>Hamburguer</h2>
          </ion-item>
        </ion-list>
      </div>
      <ion-item class="item-icon-left assertive" id="meuCarrinho-list-item72" ui-sref="tabsController.buscarPratosERestaurantes" style="">
        <i class="icon ion-android-add"></i>ADICIONAR MAIS ITENS</ion-item>
    </div>
    <div class="list card" id="meuCarrinho-card29">
      <div class="item item-body" id="meuCarrinho-list-item-container16" style="">
        <div id="meuCarrinho-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Taxa de entrega (30 - 45 min)</p>
        </div>
        <div id="meuCarrinho-markdown18" class="show-list-numbers-and-dots">
          <p style="color:#000000;">R$ 7,00</p>
        </div>
        <h2 id="meuCarrinho-heading4" style="color: rgb(0, 0, 0); font-weight: 600;">Total do pedido</h2>
        <div id="meuCarrinho-markdown19" class="show-list-numbers-and-dots">
          <p style="color:#000000;">R$ 14,50</p>
        </div>
      </div>
    </div>
    <a ui-sref="pagamento" id="meuCarrinho-button9" style="font-weight:500;font-size:12px;" class="button button-assertive  button-block icon-right ion-android-arrow-dropright">ESCOLHER FORMA DE PAGAMENTO</a>
  </ion-content>
</ion-view>
