<ion-view title="Pedido Finalizado" cache-view="false" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pedidoFinalizado-card212">
      <div class=" item item-image">
        <img src="img/Z251hdJJSS6kgJ6MC1yh_Checked.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="pedidoFinalizado-list-item-container22" style="">
        <div id="pedidoFinalizado-markdown23" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pedido finalizado com sucesso!</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="pedidoFinalizado-list-item93" ng-click="tabsController.home">
        <i class="icon No Icon"></i>Voltar home
        <i class="icon ion-android-home"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
