<ion-view title="Produtos" id="product-category">
  <ion-content class="has-header">

    <ion-refresher pulling-text="Carregando..." on-refresh="doRefresh()"></ion-refresher>

    <div class="card category-item-margin" ng-repeat="product	in	products">
      <ion-list>
        <ion-item class="item-thumbnail-left"
                  ui-sref="productDetail({idProduto: '{{product.id_product}}'})">
          <img ng-src="{{product.product_image}}" style="object-fit:	cover">
          <h2>{{product.name}}</h2>
          <p>R$ {{product.price}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
