<ion-view title="Detalhe do produto" id="product-detail">

  <ion-content padding="true" class="has-header" >
    <div class="list card">

      <ion-item>{{produto.nome}}</ion-item>

      <div class="item item-body">

        <img ng-src="{{produto.foto}}"  class="style-card-img">

        <h2 class="text-title"><strong>Preço</strong></h2>
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">R$ {{produto.preco}}</p>
        </div>

        <h2 class="text-title"><strong>Descrição</strong></h2>
        <div class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            {{produto.descricao}}
          </p>
        </div>
        <a ng-click="addToCart(produto.id, produto.foto, produto.nome, produto.descricao, produto.preco)" id="button-buy-products"
           class="button button-assertive  button-block">Comprar</a>
      </div>

    </div>
  </ion-content>
</ion-view>
