<ion-view title="Eu" id="profile">

  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-icon-right assertive" ui-sref="settings" style="">
              {{dados.nome}}
              <p >{{dados.email}}</p>
              <i class="icon ion-android-settings"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">

        <div>
          <img src="img/img-info-profile.png" class="img-info">
        </div>

        <h2 style="color: rgb(0, 0, 0); text-align: center;">Ainda não tem nada aqui.</h2>

        <div id="eu-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Faça seus primeiros pedidos e salve os seus restaurantes prediletos, para começar a
            exibir recomendações</p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
