<ion-view title="Eu" id="profile">

  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-icon-right assertive" ui-sref="settings" style="">
              {{dados.nome}}
              <p >{{dados.email}}</p>
              <i class="icon ion-android-settings"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">

        <div>
          <img src="img/img-info-profile.png" class="img-info">
        </div>

      </div>
      <ion-list>
        <ion-item ng-repeat="info	in	infos">
          <h4>{{info.name}}</h4>
          <h5>Informações do pedido:</h5>
          <p style="white-space: normal; display: block;">{{info.description_order}}</p>
          <h5>Endereço:</h5>
          <p style="white-space: normal; display: block;">{{info.address}}</p>
          <h5>Status:</h5>
          <p>{{info.status}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
