<ion-view title="Registrar-se" id="page6" style="background-color: rgb(244, 67, 54);">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="registrarSe-card23">
      <div class="item item-body" id="registrarSe-list-item-container5" style="">
        <form id="registrarSe-form3" class="list">
          <button id="registrarSe-button6" class="button button-positive  button-block">Sing Up Facebook</button>
          <label class="item item-input item-floating-label" id="registrarSe-input7" name="email">
            <span class="input-label">E-Mail</span>
            <input placeholder="E-Mail" type="email">
          </label>
          <label class="item item-input item-floating-label" id="registrarSe-input8" name="senha">
            <span class="input-label">Senha</span>
            <input placeholder="Senha" type="password">
          </label>
          <button id="registrarSe-button7" class="button button-positive  button-block button-outline">Sing Up</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>