<ion-view title="Configurações" id="settings">
  <ion-content padding="true" class="has-header">

    <ion-list>
      <ion-item class="assertive">Antônio</ion-item>
      <ion-item>Editar dados</ion-item>
      <ion-item>Meus endereços</ion-item>
      <ion-item>Minhas avaliações</ion-item>
      <ion-item id="get-out" ng-click="showConfirm()">Sair</ion-item>
    </ion-list>

    <div class="spacer"></div>

    <ion-list>
      <ion-item class="assertive">Geral</ion-item>
      <ion-item>Sugerir restaurantes</ion-item>
      <ion-item>Notificações</ion-item>
      <ion-item>Limpar históricos de busca</ion-item>
      <ion-item>Fale conosco</ion-item>
      <ion-item>Termos de uso</ion-item>
      <ion-item>Convidar</ion-item>
    </ion-list>

    <div class="spacer"></div>

  </ion-content>
</ion-view>
