<ion-view title="Meu Carrinho" id="shopping-cart">
  <ion-content padding="true" class="has-header">

    <div ng-repeat="item in cart">
      <div class="list card">
        <div class="item item-divider">{{item.cart_item_name}}</div>

        <div class="row">
          <div class="col">
            <p>{{item.cart_item_desc}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <img src="{{item.cart_item_image}}" width="100%" height="auto" style="width: 100%; height: auto;">
          </div>
          <div class="col col-75">
            <div class="row">
              <div class="col col-33">
                <button class="button button-stable button-clear button-block button-small icon ion-plus"
                        ng-click="inc(item.cart_item_id)"></button>
              </div>
              <div class="col col-33">
                <button class="button button-stable button-clear button-block button-small">{{item.cart_item_qty}}
                </button>
              </div>
              <div class="col col-33">
                <button class="button button-stable button-clear button-block  icon ion-minus"
                        ng-click="dec(item.cart_item_id)"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>Valor Unitário: R${{item.cart_item_price}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <h2 class="text-bold">Total do pedido</h2>
        <div>
          <p>Total ( {{total_qty}} ) =
            <strong>R${{total_amount}}</strong>
          </p>
        </div>
      </div>
    </div>

    <button ng-click="verifyZipCode()" class="button button-positive button-block ">Check Out</button>

  </ion-content>
</ion-view>
