<ion-view title="Meu Carrinho" id="shopping-cart">
  <ion-content padding="true" class="has-header">

    <div ng-repeat="item in cart">
      <div class="list card">
        <div class="item item-divider">{{item.cart_item_name}}</div>

        <ion-item class="item-thumbnail-left">
          <img src="{{item.cart_item_image}}" style="object-fit:	cover">

          <div class="row">
            <div class="col col-33 padding">
              <button class="button button-assertive button-float button-bar-inline button-small icon ion-minus center"
                      ng-click="dec(item.cart_item_id)"></button>
            </div>
            <div class="col col-33 padding">
              <p class="button button-stable button-clear button-block button-small">{{item.cart_item_qty}}
              </p>
            </div>
            <div class="col col-33 padding">
              <button class="button button-balanced button-default button-bar-inline button-small icon ion-plus center"
                      ng-click="inc(item.cart_item_id)"></button>
            </div>
          </div>
        </ion-item>

        <div class="row">
          <div class="col">
            <p>Valor Unitário: R${{item.cart_item_price}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <h2 class="text-bold">Total do pedido</h2>
        <div>
          <p>Total ( {{total_qty}} ) =
            <strong>R${{total_amount}}</strong>
          </p>
        </div>
      </div>
    </div>

    <button ng-click="verifyZipCode()" class="button button-assertive button-block ">Prosseguir com a compra</button>

  </ion-content>
</ion-view>
