<ion-view title="Registrar-se" id="signUp" class="background-sign">

<ion-content padding="true" class="has-header">
  <div class="list card" id="registrarSe-card23">
    <div class="item item-body" id="registrarSe-list-item-container5" style="">
      <form id="sing-up" class="list">

        <button id="button-sing-facebook" class="button button-positive  button-block">Sing Up Facebook</button>

        <label class="item item-input item-floating-label" id="input-email" name="email">
          <span class="input-label">E-Mail</span>
          <input placeholder="E-Mail" type="email">
        </label>

        <label class="item item-input item-floating-label" id="input-senha" name="senha">
          <span class="input-label">Senha</span>
          <input placeholder="Senha" type="password">
        </label>

        <button id="button-sing-email" class="button button-positive  button-block button-outline">Sing Up</button>

      </form>
    </div>
  </div>
</ion-content>

</ion-view>
