<ion-view id="page1" style="">
  <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1" style="">
    <ion-tab title="Home" icon="ion-ios-home-outline" href="#/page1/tab1/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Categorias" icon="ion-android-clipboard" href="#/page1/categories" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
     <ion-tab title="Carrinho" icon="ion-ios-cart-outline" ui-sref="meuCarrinho" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Eu" icon="ion-android-person" href="#/page1/eu-page" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>