<ion-view id="tabs">
  <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1" style="">

    <ion-tab title="Home" icon="ion-ios-home-outline" href="#/page/tab1/home" id="tabsController-tab1">
      <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Categorias" icon="ion-ios-list-outline" href="#/page/all-categories" id="tabsController-tab3">
      <ion-nav-view name="categories"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Carrinho" icon="ion-ios-cart-outline" ui-sref="shoppingCart" id="tabsController-tab2">
      <ion-nav-view name="cart"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Eu" icon="ion-ios-person-outline" href="#/page/profile" id="tabsController-tab4">
      <ion-nav-view name="profile"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
